body {
    background-image: url('../images/airmax.jpg');
    font-family: 'Lora', serif;
    color: black;
}

#splashscreen {
    background-image: url('../images/nike-bg.png');
    background-repeat: no-repeat;
}

.splashBox {
    width: 50%;
    margin: 0 auto;
    margin-top: 0 auto;
    text-align: center;
    font-size: 40px;
}

.timeRemain {
    padding: 2%;
    color: red;
}

.timeRemain #time-remain {
    font-size: 60px;
}

body .container {
    background-image: url('../images/nike-bg.png');
    height: 100%;
    margin-top: 5%;
    text-align: center;
    visibility: hidden;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

.ques,
label {
    padding: 1%;
}

header {
    font-size: 60px;
    color: black;
}