body {
    background-image: url('../images/airmax.jpg');
    font-family: 'Lora', serif;
    color: black;
}

#splashscreen {
    background-image: url('../images/nike-bg.png');
    background-repeat: no-repeat;
    width: 28%;
    margin: 0 auto;
}

.splashBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
    margin-top: 40%;
}

.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

#answerScreen {
    display: none;
    background-image: url('../images/nike-bg.png');
    background-repeat: no-repeat;
    width: 25%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
}

#timesUp {
    display: none;
    background-image: url('../images/nike-bg.png');
    background-repeat: no-repeat;
    width: 25%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
}

.timeRemain {
    padding: 2%;
    color: red;
}

.timeRemain #time-remain {
    font-size: 60px;
}

body .container {
    background-image: url('../images/nike-bg.png');
    height: 100%;
    text-align: center;
    display: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
}

.questions {
    font-size: 25px;
    ]
}

.ques,
label {
    padding: 1%;
}

header {
    font-size: 60px;
    color: black;
    margin-top: 2%;
}